<div id="page" class="container-fluid bg-dark">

  <div class="text-center">
    <h1>Calculadora de Precios</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="calculate()">

    <fieldset>
      <h3>Factura</h3>
      <div class="form-group row">
        <div class="col-5 text-right">
          <label for="price" class="control-label">Precio Factura</label>
        </div>
        <div class="col">
          <input type="number" id="price" class="form-control form-control-sm"
            formControlName="price" pattern="[0-9]*" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-5 text-right">
          <label for="quantity">Cantidad</label>
        </div>
        <div class="col">
          <input type="number" id="quantity" class="form-control form-control-sm"
            formControlName="quantity" required>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <h3>Impuesto</h3>
      <div class="row">
        <div class="col-5 text-right">
          <label>¿Excento de impuesto?</label>
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input type="radio" id="check-tax-yes" class="form-check-input check-tax"
                formControlName="taxFree" (change)="toggleTaxFree(true)" value="true">
            <label class="form-check-label" for="check-tax-yes">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" id="check-tax-no" class="form-check-input check-tax"
                formControlName="taxFree" (change)="toggleTaxFree(false)" value="false">
            <label class="form-check-label" for="check-tax-no">No</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 text-right">
          <label for="iva">Valor del IVA (%)</label>
        </div>
        <div class="col">
          <input type="number" id="iva" class="form-control form-control-sm"
            formControlName="iva">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <h3>Ganancia</h3>
      <div class="row form-group">
        <div class="col-5 text-right">
          <label for="wval">Ganancia (%)</label>
        </div>
        <div class="col">
          <input type="number" id="wval" class="form-control form-control-sm" value="45" min="0" max="200">
        </div>
      </div>
    </fieldset>

    <fieldset id="results" [class.hidden]="!displayResults">

      <h2>Resultado</h2>

      <div class="row">
        <div class="col-5 text-right">Precio Unitario</div>
        <div class="col">
          <span id="unitPriceLabel">{{ results.unitPrice | formatPrice:currency }}</span>
        </div>
        <div class="col-auto">
          <input type="text" id="unitPriceValue" class="noshow" [value]="results.unitPrice.toFixed(2)">
          <button type="button" class="btn btn-link btn-copy" (click)="copyText('unitPriceValue')">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right">Impuesto</div>
        <div class="col"><span id="taxesLabel">{{ results.unitTaxes | formatPrice:currency }}</span></div>
        <div class="col-auto">
          <input type="text" id="taxesValue" class="noshow" [value]="results.unitTaxes.toFixed(2)">
          <button type="button" class="btn btn-link btn-copy" (click)="copyText('taxesValue')">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right">Ganancia</div>
        <div class="col"><span id="productProfitLabel">{{ results.productProfit | formatPrice:currency }}</span></div>
        <div class="col-auto">
          <input type="text" id="productProfitValue" class="noshow" [value]="results.productProfit.toFixed(2)">
          <button type="button" class="btn btn-link btn-copy" (click)="copyText('productProfitValue')">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right">Precio Venta</div>
        <div class="col"><span id="salesPriceLabel">{{ results.salesPrice | formatPrice:currency }}</span></div>
        <div class="col-auto">
          <input type="text" id="salesPriceValue" class="noshow" [value]="results.salesPrice.toFixed(2)">
          <button type="button" class="btn btn-link btn-copy" (click)="copyText('salesPriceValue')">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

    </fieldset>

    <div class="buttons">
      <button id="btn-calculate" type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Calcular</button>
      <button id="btn-reset" type="button" (click)="reset()" class="btn btn-light btn-block">Borrar</button>
    </div>

  </form>

</div>
